
  mat-card-content {
    margin: 2%;
    text-align: left;
  }
  
  .mat-form-field {
    width: 100%;
    margin: 1%;
  }
  
  .mat-50 {
    width: 48%;
    margin: 1%;
  }

  .mat-25 {
    width: 24%;
    margin: 0.5%;
  }
  
  /* button {
    margin-top: 20px;
  } */
  
  h2 {
    color: #3f51b5;
  }
  
  h3 {
    color: #4caf50;
  }
  
  mat-icon-button {
    margin-left: 10px;
    vertical-align: bottom;
  }

  button {
    margin: 2px;
    /* color: darkred; */
  }

  .salary-slip-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .salary-details {
    width: 100%;
    overflow-x: auto;
  }
  
  /* .salary-summary {
    display: flex;
    flex-direction: column;
    gap: 5px;
  } */
  
  .salary-summary {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .salary-summary .column {
    width: 50%;
  }
  