<mat-card>
  <mat-card-header>
    <h2>Mortgage Loan Calculator</h2>
  </mat-card-header>
</mat-card>

<form [formGroup]="mortgageForm" (ngSubmit)="calculateMortgage()">
  <mat-card-content>
    <mat-form-field class="mat-50">
      <mat-label>Principal</mat-label>
      <input matInput formControlName="principal" type="number" required>
      <mat-error *ngIf="mortgageForm.get('principal')?.hasError('required')">
        Principal is required
      </mat-error>
      <mat-error *ngIf="mortgageForm.get('principal')?.hasError('min')">
        Principal must be a positive number
      </mat-error>
    </mat-form-field>

    <mat-form-field class="mat-50">
      <mat-label>Annual Interest Rate (%)</mat-label>
      <input matInput formControlName="annualRate" type="number" required>
      <mat-error *ngIf="mortgageForm.get('annualRate')?.hasError('required')">
        Annual Interest Rate is required
      </mat-error>
      <mat-error *ngIf="mortgageForm.get('annualRate')?.hasError('min')">
        Annual Interest Rate must be a positive number
      </mat-error>
    </mat-form-field>

    <mat-form-field class="mat-50">
      <mat-label>Term (Months)</mat-label>
      <input matInput formControlName="term" type="number" required>
      <mat-error *ngIf="mortgageForm.get('term')?.hasError('required')">
        Term is required
      </mat-error>
      <mat-error *ngIf="mortgageForm.get('term')?.hasError('min')">
        Term must be at least 1 month
      </mat-error>
    </mat-form-field>

    <mat-form-field class="mat-50">
      <mat-label>Interest & Amortization Method</mat-label>
      <mat-select formControlName="method">
        <mat-option *ngFor="let method of methods" [value]="method.value">
          {{ method.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-checkbox formControlName="showSchedule">Show Repayment Schedule</mat-checkbox>

  </mat-card-content>

  <mat-card-footer style="margin:2%;text-align: right;">
    <div style="margin:2%;text-align: right;">
      <button mat-raised-button type="submit">Calculate</button>
    </div>
  </mat-card-footer>
</form>

<div *ngIf="monthlyPayment">
  <h3>Monthly Payment: {{ monthlyPayment | currency }}</h3>
  <h4>Total Repayment Amount: {{ totalRepayment | currency }}</h4>
  <h4>Cumulative Interest: {{ cumulativeInterest | currency }}</h4>
</div>



<div *ngIf="showSchedule && repaymentSchedule.length > 0">
  <h3>Repayment Schedule</h3>
  <div style="margin:2%;text-align: right;">
    <button mat-raised-button color="primary" (click)="exportToExcel()">Export to Excel</button>
    <button mat-raised-button color="primary" (click)="exportToPDF()">Export to PDF</button>
    <!-- <button mat-raised-button color="primary" (click)="emailFormVisible = !emailFormVisible">Email</button> -->
    <button mat-raised-button color="primary" (click)="openEmailModal()">Email</button>
  </div>
  <mat-card-content>
    <div class="table-container">
      <table mat-table [dataSource]="repaymentSchedule" class="mat-elevation-z8">

        <!-- Months Column -->
        <ng-container matColumnDef="month">
          <th mat-header-cell *matHeaderCellDef> Month </th>
          <td mat-cell *matCellDef="let element"> {{element.month}} </td>
        </ng-container>

        <!-- Interest Column -->
        <ng-container matColumnDef="interest">
          <th mat-header-cell *matHeaderCellDef> Interest </th>
          <td mat-cell *matCellDef="let element"> {{element.interest | currency}} </td>
        </ng-container>

        <!-- Payment Principal Column -->
        <ng-container matColumnDef="paymentPrincipal">
          <th mat-header-cell *matHeaderCellDef> Payment Principal </th>
          <td mat-cell *matCellDef="let element"> {{element.paymentPrincipal | currency}} </td>
        </ng-container>

        <!-- Total Column -->
        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef> Total </th>
          <td mat-cell *matCellDef="let element"> {{element.total | currency}} </td>
        </ng-container>

        <!-- Running Balance Column -->
        <ng-container matColumnDef="runningBalance">
          <th mat-header-cell *matHeaderCellDef> Running Balance </th>
          <td mat-cell *matCellDef="let element"> {{element.runningBalance | currency}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-card-content>

  <mat-card-footer style="margin:2%;text-align: right;">
    <div style="margin:2%;text-align: right;">
      <button mat-raised-button color="primary" (click)="exportToExcel()">Export to Excel</button>
      <button mat-raised-button color="primary" (click)="exportToPDF()">Export to PDF</button>
      <!-- <button mat-raised-button color="primary" (click)="emailFormVisible = !emailFormVisible">Email</button> -->
      <button mat-raised-button color="primary" (click)="openEmailModal()">Email</button>
    </div>
  </mat-card-footer>
</div>


<!-- <div *ngIf="emailFormVisible">
  <form [formGroup]="emailForm" (ngSubmit)="sendEmail()">
    <mat-form-field class="mat-100">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" required>
      <mat-error *ngIf="emailForm.get('email')?.hasError('required')">
        Email is required
      </mat-error>
      <mat-error *ngIf="emailForm.get('email')?.hasError('email')">
        Invalid email address
      </mat-error>
    </mat-form-field>

    <mat-card-footer style="margin:2%;text-align: right;">
      <div style="margin:2%;text-align: right;">
        <button mat-raised-button type="submit" color="primary">Send</button>
      </div>
    </mat-card-footer>
  </form>
</div> -->