<h2>Mortgage Loan Calculator</h2>
<form (ngSubmit)="calculateMortgage()">
  <mat-form-field>
    <mat-label>Principal</mat-label>
    <input matInput [(ngModel)]="principal" name="principal" type="number" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Annual Interest Rate (%)</mat-label>
    <input matInput [(ngModel)]="annualRate" name="rate" type="number" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Term (Months)</mat-label>
    <input matInput [(ngModel)]="term" name="term" type="number" required>
  </mat-form-field>
  <!-- <mat-form-field>
    <mat-label>Term (Years)</mat-label>
    <input matInput [(ngModel)]="term" name="term" type="number" required>
  </mat-form-field> -->
  <mat-form-field>
    <mat-checkbox [(ngModel)]="showSchedule" name="showSchedule">Show Repayment Schedule</mat-checkbox>
  </mat-form-field>
  <button mat-raised-button type="submit">Calculate</button>
</form>

<div *ngIf="monthlyPayment">
  <h3>Monthly Payment: {{ monthlyPayment | currency }}</h3>
</div>

<!-- Table for repayment schedule -->
<div *ngIf="showSchedule && repaymentSchedule.length > 0">
  <h3>Repayment Schedule</h3>
  <table mat-table [dataSource]="repaymentSchedule" class="mat-elevation-z8">

    <!-- Months Column -->
    <ng-container matColumnDef="month">
      <th mat-header-cell *matHeaderCellDef> Month </th>
      <td mat-cell *matCellDef="let element"> {{element.month}} </td>
    </ng-container>

    <!-- Interest Column -->
    <ng-container matColumnDef="interest">
      <th mat-header-cell *matHeaderCellDef> Interest </th>
      <td mat-cell *matCellDef="let element"> {{element.interest | currency}} </td>
    </ng-container>

    <!-- Payment Principal Column -->
    <ng-container matColumnDef="paymentPrincipal">
      <th mat-header-cell *matHeaderCellDef> Payment Principal </th>
      <td mat-cell *matCellDef="let element"> {{element.paymentPrincipal | currency}} </td>
    </ng-container>

    <!-- Total Column -->
    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef> Total </th>
      <td mat-cell *matCellDef="let element"> {{element.total | currency}} </td>
    </ng-container>

    <!-- Running Balance Column -->
    <ng-container matColumnDef="runningBalance">
      <th mat-header-cell *matHeaderCellDef> Running Balance </th>
      <td mat-cell *matCellDef="let element"> {{element.runningBalance | currency}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

