<form [formGroup]="invoiceForm" (ngSubmit)="generatePDF()" class="example-form">
  <!-- Receiver Form Fields -->
  <mat-card>
    <mat-card-content>
      <h2>Sender Details</h2>
      <div class="form-row">
        <mat-form-field appearance="fill" class="mat-50">
          <mat-label>Company Name</mat-label>
          <input id="company" matInput formControlName="company" required placeholder="Enter Your Company Name">
          <mat-error *ngIf="invoiceForm.get('company')?.hasError('required')">Company Name is required.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="mat-50">
          <mat-label>Company PIN</mat-label>
          <input id="companyPin" matInput formControlName="companyPin" required>
        </mat-form-field>
      </div>

      <div class="">
        <mat-form-field appearance="fill" class="mat-30">
          <mat-label>Company Email</mat-label>
          <input id="companyEmail" matInput formControlName="companyEmail" type="email">
        </mat-form-field>

        <mat-form-field appearance="fill" class="mat-30">
          <mat-label>Address Line</mat-label>
          <input id="companyAddress" matInput formControlName="companyAddress" required>
          <mat-error *ngIf="invoiceForm.get('companyAddress')?.hasError('required')">Address is required.</mat-error>
        </mat-form-field>
      
        <mat-form-field appearance="fill" class="mat-30">
          <mat-label>City</mat-label>
          <input id="companyCity" matInput formControlName="companyCity" required>
          <mat-error *ngIf="invoiceForm.get('companyCity')?.hasError('required')">City is required.</mat-error>
        </mat-form-field>
      </div>

      <h2>Client Details</h2>
      <div class="form-row">
        <mat-form-field appearance="fill" class="mat-50">
          <mat-label>Client Name</mat-label>
          <input id="client" matInput formControlName="client" required>
          <mat-error *ngIf="invoiceForm.get('client')?.hasError('required')">Client Name is required.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="mat-50">
          <mat-label>Client PIN</mat-label>
          <input id="clientPin" matInput formControlName="clientPin" required>
        </mat-form-field>
      </div>

      <div class="">
        <mat-form-field appearance="fill" class="mat-30">
          <mat-label>Client Email</mat-label>
          <input id="clientEmail" matInput formControlName="clientEmail">
        </mat-form-field>

        <mat-form-field appearance="fill" class="mat-30">
          <mat-label>Address Line</mat-label>
          <input id="clientAddress" matInput formControlName="clientAddress" required>
          <mat-error *ngIf="invoiceForm.get('clientAddress')?.hasError('required')">Address is required.</mat-error>
        </mat-form-field>
      
        <mat-form-field appearance="fill" class="mat-30">
          <mat-label>City</mat-label>
          <input id="clientCity" matInput formControlName="clientCity" required>
          <mat-error *ngIf="invoiceForm.get('clientCity')?.hasError('required')">City is required.</mat-error>
        </mat-form-field>
      </div>

      <h2>Invoice Details</h2>
      <div class="form-row">
        <mat-form-field appearance="fill" class="mat-50">
          <mat-label>Invoice Number</mat-label>
          <input id="invoiceNumber" matInput formControlName="invoiceNumber" value="INV-0110" required>
          <mat-error *ngIf="invoiceForm.get('invoiceNumber')?.hasError('required')">Invoice Number is required.</mat-error>
        </mat-form-field>

        <!-- <mat-form-field appearance="fill" class="mat-50">
          <mat-label>Invoice Date</mat-label>
          <input id="date" matInput formControlName="date" type="date" required>
          <mat-error *ngIf="invoiceForm.get('date')?.hasError('required')">Date is required.</mat-error>
        </mat-form-field> -->

        <mat-form-field appearance="fill" class="mat-50">
          <mat-label>Invoice Date</mat-label>
          <input id="date" matInput formControlName="date" type="date" required>
          <mat-error *ngIf="invoiceForm.get('date')?.hasError('required')">Date is required.</mat-error>
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field appearance="fill" class="mat-50">
          <mat-label>Due Date</mat-label>
          <input id="dueDate" matInput formControlName="dueDate" type="date" required>
          <mat-error *ngIf="invoiceForm.get('dueDate')?.hasError('required')">Date is required.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="mat-50">
          <mat-label>Currency</mat-label>
          <mat-select id="currency" formControlName="currency" required>
            <mat-option *ngFor="let type of currencyList" [value]="type">{{type}}</mat-option>
          </mat-select>
          <mat-error *ngIf="invoiceForm.get('currency')?.hasError('required')">Currency is required.</mat-error>
        </mat-form-field>
      </div>

      <div formArrayName="items">
        <div *ngFor="let item of items.controls; let i = index" [formGroupName]="i" class="item-row">
          <mat-form-field appearance="fill" class="mat-25">
            <mat-label>Description</mat-label>
            <input id="description-{{i}}" matInput formControlName="description" required>
            <mat-error *ngIf="item.get('description')?.hasError('required')">Description is required.</mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" class="mat-20">
            <mat-label>Quantity</mat-label>
            <input id="quantity-{{i}}" matInput formControlName="quantity" type="number" required>
            <mat-error *ngIf="item.get('quantity')?.hasError('required')">Quantity is required.</mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" class="mat-20">
            <mat-label>VAT Rate (%)</mat-label>
            <input id="vatRate-{{i}}" matInput formControlName="vatRate" type="number" value="Skip">
          </mat-form-field>

          <mat-form-field appearance="fill" class="mat-25">
            <mat-label>Price</mat-label>
            <input id="price-{{i}}" matInput formControlName="price" type="number" required>
            <mat-error *ngIf="item.get('price')?.hasError('required')">Price is required.</mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" class="mat-25">
            <mat-label>Total Price</mat-label>
            <input id="totalPrice-{{i}}" matInput formControlName="totalPrice" type="number" required>
            <mat-error *ngIf="item.get('totalPrice')?.hasError('required')">Total Price is required.</mat-error>
          </mat-form-field>

          <button mat-button type="button" (click)="removeItem(i)">(-)</button>
        </div>
      </div>
      
      <button mat-button type="button" (click)="addItem()">Add Item</button>
    </mat-card-content>
    
    <mat-card-footer>
      <div class="footer-buttons">
        <button mat-raised-button color="primary" type="submit">Generate PDF</button>
        <button mat-raised-button color="primary" (click)="emailFormVisible = !emailFormVisible">Email</button>
      </div>
    </mat-card-footer>
  </mat-card>
</form>


<div *ngIf="emailFormVisible">
  <form [formGroup]="emailForm" (ngSubmit)="sendEmail()">
    <mat-form-field class="mat-100">
      <mat-label>Email</mat-label>
      <input id="email" matInput formControlName="email" type="email" required>
      <mat-error *ngIf="emailForm.get('email')?.hasError('required')">Email is required.</mat-error>
      <mat-error *ngIf="emailForm.get('email')?.hasError('email')">Invalid email address.</mat-error>
    </mat-form-field>
    <mat-card-footer style="margin:2%;text-align: right;">
      <div style="margin:2%;text-align: right;">
        <button mat-raised-button type="submit" color="primary">Send</button>
      </div>
    </mat-card-footer>
  </form>
</div>

<!-- Hidden div to generate PDF from -->
<!-- <div id="invoice" style="display:none;">
  <h2>Invoice</h2>
  <div>
    <p><b>Client: {{ invoiceForm.get('client')?.value }}</b></p>
    <p><b>Invoice No: {{ invoiceForm.get('invoiceNumber')?.value }}</b></p>
    <p>Date: {{ invoiceForm.get('date')?.value }}</p>
    <p>Currency: {{ invoiceForm.get('currency')?.value }}</p>
  </div>
  <table>
    <thead>
      <tr>
        <th>Description</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items.controls">
        <td>{{ item.get('description')?.value }}</td>
        <td>{{ item.get('quantity')?.value }}</td>
        <td>{{ item.get('price')?.value }}</td>
        <td>{{ item.get('totalPrice')?.value }}</td>
      </tr>
    </tbody>
  </table>
  <div style="margin-top: 20px; align-items: end;">
    <h3><b>Total Cost: {{ totalCost | currency:currencyCode }}</b></h3>
  </div>
</div> -->

<!-- Hidden div to generate PDF from -->
<div id="invoice" style="display:none; font-family: Arial, sans-serif; padding: 20px;">

  <div style="display: flex; justify-content: space-between; align-items: flex-start;">
    <div>
      <h2 style="color: #3F51B5; padding: 8px; margin: 0;"><b>{{invoiceForm.get('company')?.value}}</b></h2>
      <p>
        <b>PIN:</b>{{invoiceForm.get('companyPin')?.value}}<br>
        <b>Email:</b> {{invoiceForm.get('companyEmail')?.value}}<br>
        <b>Box #:</b> {{invoiceForm.get('companyAddress')?.value}}<br>
        <b>Town:</b> {{invoiceForm.get('companyCity')?.value}}
      </p>
    </div>
    <div>
      <h2 style="color: #3F51B5; padding: 8px; margin: 0;"><b>INVOICE</b></h2>
    </div>
  </div>

  <div style="display: flex; justify-content: space-between; margin-top: 20px;">
    <div>
      <p>
        <b>Bill To</b><br><b>{{ invoiceForm.get('client')?.value }}</b><br>
        <b>PIN:</b>{{invoiceForm.get('clientPin')?.value}}<br>
        <b>Email:</b> {{invoiceForm.get('clientEmail')?.value}}<br>
        <b>Box #:</b> {{invoiceForm.get('clientAddress')?.value}}<br>
        <b>Town:</b> {{invoiceForm.get('clientCity')?.value}}
      </p>
    </div>
    <div>
      <p>
        <b>Ship To</b><br><b>{{ invoiceForm.get('client')?.value }}</b><br>
        <b>PIN:</b>{{invoiceForm.get('clientPin')?.value}}<br>
        <b>Email:</b> {{invoiceForm.get('clientEmail')?.value}}<br>
        <b>Box #:</b> {{invoiceForm.get('clientAddress')?.value}}<br>
        <b>Town:</b> {{invoiceForm.get('clientCity')?.value}}
      </p>
    </div>
    <div>
      <p><b>Invoice #:</b> {{ invoiceForm.get('invoiceNumber')?.value }}</p>
      <p><b>Invoice Date:</b> {{ invoiceForm.get('date')?.value }}</p>
      <p><b>P.O.#:</b> 2412/2024</p>
      <p><b>Due Date:</b> {{invoiceForm.get('dueDate')?.value}}</p>
    </div>
  </div>

  <table style="width: 100%; border-collapse: collapse; margin-top: 20px;">
    <thead>
      <tr>
        <th style="border: 1px solid #dddddd; padding: 8px;">QTY</th>
        <th style="border: 1px solid #dddddd; padding: 8px;">DESCRIPTION</th>
        <th style="border: 1px solid #dddddd; padding: 8px;">UNIT PRICE</th>
        <th style="border: 1px solid #dddddd; padding: 8px;">AMOUNT</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items.controls">
        <td style="border: 1px solid #dddddd; padding: 8px; text-align: center;">{{ item.get('quantity')?.value }}</td>
        <td style="border: 1px solid #dddddd; padding: 8px;">{{ item.get('description')?.value }}</td>
        <td style="border: 1px solid #dddddd; padding: 8px; text-align: right;"> {{ item.get('price')?.value |
          currency:currencyCode }}</td>
        <td style="border: 1px solid #dddddd; padding: 8px; text-align: right;"> {{ item.get('totalPrice')?.value |
          currency:currencyCode }}</td>
      </tr>
    </tbody>
  </table>

  <div style="display: flex; justify-content: flex-end; margin-top: 20px;">
    <table style="border-collapse: collapse;">
      <tr>
        <td style="padding: 8px;">Subtotal</td>
        <!-- <td style="padding: 8px; text-align: right;">{{ totalCost - totalCost * 0.05 | currency:currencyCode }}</td> -->
        <td style="padding: 8px; text-align: right;">{{ calculateSubtotal() | currency:currencyCode }}</td>
      </tr>
      <tr>
        <td style="padding: 8px;">Sales Tax</td>
        <!-- <td style="padding: 8px; text-align: right;">{{ totalCost * 0.05 | currency:currencyCode }}</td> -->
        <td style="padding: 8px; text-align: right;"> {{ calculateVAT() | currency:currencyCode }}</td>
      </tr>
      <tr>
        <td style="padding: 8px; font-weight: bold;">TOTAL</td>
        <td style="padding: 8px; text-align: right; font-weight: bold;"> {{ totalCost | currency:currencyCode }}</td>
      </tr>
    </table>
  </div>

  <div style="margin-top: 40px;">
    <p style="margin: 0;"><b>Terms & Conditions</b></p>
    <p style="margin: 0;">{{invoiceForm.get('terms')?.value}}</p>
    <p style="margin: 0;">Name of Bank</p>
    <p style="margin: 0;">Account number: 1234567890</p>
    <p style="margin: 0;">Routing: 098765432</p>
  </div>

  <div style="margin-top: 40px;">
    <p style="text-align: right; font-style: italic;">{{ invoiceForm.get('client')?.value }}</p>
  </div>
</div>